@page "/adm/blogs"
@inject BlogsService BlogsService

<ul class="list-group">
    <li class="list-group-item border-0">
        <div class="d-flex align-items-center">
            <input class="form-check-input" type="checkbox">
            <a class="btn btn-primary btn-md rounded-pill px-4 py-2 ms-3 btn-new-post" href="admin/blog/0">New Post</a>
        </div>
    </li>
    @foreach (var blog in blogs)
    {
        <li class="list-group-item border-0">
            <div class="form-check d-flex justify-content-between">
                <div>
                    <input class="form-check-input" type="checkbox">
                    <label class="form-check-label ms-3">
                        @blog.Title
                    </label>
                </div>
                <div class="d-flex align-items-start">
                    <span>@blog.Created.ToString("MMM d, yyyy")</span>
                    <div class="form-check form-switch ms-4">
                        <input class="form-check-input" type="checkbox" role="switch" @bind="@blog.Published">
                        <label class="form-check-label">Published</label>
                    </div>
                </div>
            </div>
        </li>
    }

</ul>

@code {
    IEnumerable<BlogDto> blogs = [];

    protected override async Task OnInitializedAsync()
    {
        blogs = await BlogsService.GetBlogsAsync();
    }
}
