@page "/blogs"
@inject BlogsService BlogsService

@if (loading)
{
    <span>Loading...</span>
}
else
{
    <ul>
        @foreach (var blog in blogs)
        {
            <li>@blog.Title - @blog.Description - Published: @blog.Published</li>
        }
    </ul>
}

@code {
    IEnumerable<BlogDto> blogs = Enumerable.Empty<BlogDto>();
    bool loading = true;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            var res = await BlogsService.GetBlogsAsync();
            if (res is not null)
                blogs = res;
        }
        finally
        {
            loading = false;
        }
    }
}
