@page "/"
@inject BlogsService BlogsService

@if (loading)
{
    <span>Loading...</span>
}
else
{
    <div class="row">
        @foreach (var blog in blogs)
        {
            <div class="col-md-4">
                <div class="card mb-4">
                    <img src="img/cover.jpg" class="card-img-top" alt="@blog.Title">
                    <div class="card-body">
                        <h5 class="card-title">@blog.Title</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <div class="d-flex justify-content-between card-bottom">
                            <i class="bi-alarm"></i>
                            <button type="button" class="btn btn-link btn-sm pl-0">
                                Read
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
}

@code {
    IEnumerable<BlogDto> blogs = Enumerable.Empty<BlogDto>();
    bool loading = true;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            var res = await BlogsService.GetBlogsAsync();
            if (res is not null)
                blogs = res;
        }
        finally
        {
            loading = false;
        }
    }
}
