@page "/blogs"
@using Modules.Blog.UseCases.Blogs
@using System.Text.Json
@inject ApiService Apiservice

@if (loading)
{
    <span>Loading...</span>
}
else
{
    <ul>
        @foreach (var blog in blogs)
        {
            <li>@blog.Name - @blog.Description</li>
        }
    </ul>
}

@code {
    IEnumerable<BlogDto> blogs = Enumerable.Empty<BlogDto>();
    bool loading = true;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            var res = await Apiservice.HttpClient.GetFromJsonAsync<List<BlogDto>>("api/blogs");
            blogs = res;
        }
        finally
        {
            loading = false;
        }
    }
}
