@page "/user"
@attribute [Authorize]
@inject AuthenticationStateProvider AuthenticationStateProvider

<h3>User</h3>

<div>Username: @Username</div>

@code {
    [CascadingParameter]
    public HttpContext? Context { get; set; }

    public string? Username;

    protected override async Task OnInitializedAsync()
    {
        Username = await AuthenticationStateProvider.GetUserNameAsync();
    }
}
