@using BlazorPageScript
@page "/"

<PageTitle>Home</PageTitle>
<PageScript Src="./Components/Pages/Home.razor.js" />

<p />
<h5>About Me</h5>
<div class="row">
    <div class="col-8">
        <p>I'm a Fullstack .NET Developer</p>
    </div>
</div>
<p />
<h5>Skills</h5>
<div class="d-flex">
    <img src="/imgs/skills/Csharp_Logo.png" class="img-skill" alt="csharp">
    <img src="/imgs/skills/Ms_.NET_Logo.png" class="img-skill ms-2" alt=".net">
    <img src="/imgs/skills/Blazor.png" class="img-skill ms-2" alt="blazor">
    <img src="/imgs/skills/Azure.png" class="img-skill ms-2" alt="azure">
    <img src="/imgs/skills/Docker.png" class="img-skill ms-2" alt="docker">
    <img src="/imgs/skills/Kubernetes.png" class="img-skill ms-2" alt="kubernetes">
    <img src="/imgs/skills/Logo_M_SQL_Server.png" class="img-skill ms-2" alt="sql server">
    <img src="/imgs/skills/128px-Mongodb.png" class="img-skill ms-2" alt="mongodb">
</div>
<p />
<h5>Portfolio</h5>
<div class="row">
    <div class="col">
        <div class="card mb-3" style="max-width: 540px;">
            <div class="row g-0">
                <div class="col-md-4">
                    <img src="/imgs/blogs.png" class="img-fluid rounded-start" alt="...">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">Blog</h5>
                        <h6 class="card-subtitle mb-2 text-muted">Simple blog</h6>
                        <p class="card-text">Tech stacks: .Net, Blazor, Sqlite, Cqrs, Bootstrap, Html, Js, Css</p>
                        <a href="b" class="btn btn-light btn-sm nav-portfolio">Read <i class="bi bi-arrow-right"></i></a>
                    </div>
                </div>
            </div>
        </div>

        <!-- cshop -->
        <div class="card mb-3" style="max-width: 540px;">
            <div class="row g-0">
                <div class="col-md-4">
                    <img src="/imgs/coffee-shop.png" class="img-fluid rounded-start" alt="...">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">Coffee shop</h5>
                        <h6 class="card-subtitle mb-2 text-muted">A sample coffee shop</h6>
                        <p class="card-text">Tech stacks: .Net, Blazor, Sql Server, Cqrs, Rabbitmq, Bootstrap, Html, Js, Css</p>
                        <a href="c" class="btn btn-light btn-sm nav-portfolio">Read <i class="bi bi-arrow-right"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
